/* ---------헤더 ----------  */
header {
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-container {
  display: flex;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem 0;
  justify-content: space-between;
  align-items: center;
}
/* ----------메인 이미지 */
#main-image {
  position: relative;
  background: url("/images/동남아시아.jpg");
  width: 100%;
  height: 800px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
#main-image::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #00000020;
}
.dogether {
  position: absolute;
  color: white;
  z-index: 90;
  bottom: 0;
  left: 1rem;
  font-size: 5rem;
  font-family: "DNFBitBitv2";
}

#header_menu {
  display: flex;
  list-style: none;
  gap: 50px;
  color: #000;
  align-items: center;
  margin-bottom: 0;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  font-size: x-large;
  background-color: #c8d2d1;
}
.detailList {
  padding-top: 30px;
  padding-bottom: 20px;
  border-bottom: 2px solid black;
}
.content h1 {
  padding-bottom: 10px;
  color: #14471e;
}
.content p {
  padding-bottom: 10px;
}
