@media screen and (max-width: 768px) {
  /* ----------header---------- */
  #header-container {
    background-color: transparent;
  }
  header {
    background-color: transparent;
  }
  header img {
    display: none;
  }
  header #header_menu {
    display: none;
  }
  .dogether {
    font-size: 3em;
    text-align: center;
  }

  /* header > mobile_nav */
  .mobile_nav {
    display: block;
  }
  /* bootstrap nav */
  .bg-body-tertiary {
    background-color: rgba(255, 255, 255, 0.7) !important;
    --bs-bg-opacity: 0.7 !important;
  }
  .offcanvas {
    background-color: rgba(255, 255, 255, 0.7) !important;
  }

  .navbar-toggler {
    border: none !important;
  }

  /* ----------메인컨텐츠---------- */
  content {
    box-sizing: border-box;
  }

  /* ----------section 1 */

  .sub-title-box {
    width: 100vw;
    display: flex !important;
    justify-content: flex-start !important;
    align-items: center;
    font-size: 1.2em;
    margin-bottom: 1.5em;
  }
  .sub-title-t {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: bold;
  }

  .sub-title-t p {
    margin: 0 1em;
  }

  .first_section > img {
    width: 200px;
  }

  /* section1 > swiper */
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-pagination {
    margin: -10px 0;
  }

  /* ----------section 2 */
  .second_container {
    flex-direction: column-reverse;
  }




  /* ----------section 3 */
.third_section {
  width: 100%;
  display: flex;
  flex-direction: column;
}






  /* footer */
  footer {
    margin: 0 auto;
  }
  footer p {
    font-size: 0.8em;
    text-align: center;
  }
}

.second_section {
  width: 100%;
  display: flex;
  justify-content: center;
}
.second_container {
  width: 1280px;
  padding: 0 1rem;
  display: flex;
}
.second_container img {
  width: 100%;
  max-width: 580px;
}
.second-title-box, .sub-title-box {
  font-size: 1.5rem;
  font-weight: bold;
}
.second-title-box p {
  margin: 0 1rem;
}
.second-title-box i {
  transform: rotate(-30deg);
}


/* -------------pc section 3----------- */

