* {
  margin: 0;
  padding: 0;
}


/* 헤더 */
header {
  background: url("../images/메인이미지.png") no-repeat;
  background-size: 100%;
  width: 100vw;
  height: 50vh;
}

/* 네브바 */
.bg-body-tertiary {
  background-color: rgba(255, 255, 255, 0.8) !important;
  --bs-bg-opacity: 0.8 !important;
}
.offcanvas {
  background-color: rgba(255, 255, 255, 0.8) !important;
}

.navbar-toggler {
  border: none !important;
}
