@media screen and (max-width: 768px)
{

/* pc헤더, 메인이미지 none */
#header-container {
  background-color: transparent;
}
header {
  background-color: transparent;
}
header img {
  display: none;
}
header #header_menu {
  display: none;
}
.dogether {
  font-size: 3rem;
  text-align: center;
}


/* mo헤더 block */
.mobile_nav {
  display: block;
}

/* 네브바 */
.bg-body-tertiary {
  background-color: rgba(255, 255, 255, 0.7) !important;
  --bs-bg-opacity: 0.7 !important;
}
.offcanvas {
  background-color: rgba(255, 255, 255, 0.7) !important;
}

.navbar-toggler {
  border: none !important;
}

/* 메인컨텐츠 */
/* section */
.first_section>img {
  width: 200px;
}

/* section 2 */

}