* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header_wrapper {
  position: relative;
  background: url("/images/mainbg.png");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 80px;
  padding: 0 40px 0 40px;
  background-color: rgba(255, 255, 255, 0.8);
}

.dogether {
  position: absolute;
  color: white;
  z-index: 9;
  bottom: 10%;
  left: 2%;
  font-size: 5rem;
  font-family:'DNFBitBitv2';
}

#header_menu {
  display: flex;
  list-style: none;
  gap: 50px;
  color: #000;
}

.mobile_nav {
  display: none;
}

.carousel_main {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  user-select: none;
}

.carousel_main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  transition: transform 1s;
}

.carousel_slide {
  flex: 0 0 300px; /* 이미지 크기 설정  */
  position: relative;
}

.carousel_slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel_button_container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.carousel_button {
  width: 50px;
  height: 50px;
  color: #fff;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.carousel_prev {
  background-color: rgba(0, 0, 0, 0.3);
  border: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.carousel_next {
  background-color: rgba(0, 0, 0, 0.3);
  border: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.carousel_pagination {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.carousel_circle {
  width: 10px;
  height: 10px;
  background-color: #aaa;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.carousel_circle.active {
  background-color: #333;
}


